<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.z11g.base.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.z11g.base.model.SysUser">
    <!--@mbg.generated-->
    <!--@Table SYS_USER-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="LOGIN_NAME" jdbcType="VARCHAR" property="loginName" />
    <result column="LOGIN_PASSWORD" jdbcType="VARCHAR" property="loginPassword" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="IS_DELETE" jdbcType="DECIMAL" property="isDelete" />
    <result column="COMMENTS" jdbcType="VARCHAR" property="comments" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, CODE, "NAME", LOGIN_NAME, LOGIN_PASSWORD, "TYPE", PHONE, EMAIL, CREATE_USER, 
    CREATE_TIME, UPDATE_USER, UPDATE_TIME, IS_DELETE, COMMENTS
  </sql>

<!--auto generated by MybatisCodeHelper on 2021-01-20-->
  <select id="findOneByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from SYS_USER
    <where>
      <if test="id != null">
        and ID=#{id,jdbcType=VARCHAR}
      </if>
      <if test="code != null">
        and CODE=#{code,jdbcType=VARCHAR}
      </if>
      <if test="name != null">
        and "NAME"=#{name,jdbcType=VARCHAR}
      </if>
      <if test="loginName != null">
        and LOGIN_NAME=#{loginName,jdbcType=VARCHAR}
      </if>
      <if test="loginPassword != null">
        and LOGIN_PASSWORD=#{loginPassword,jdbcType=VARCHAR}
      </if>
      <if test="type != null">
        and "TYPE"=#{type,jdbcType=DECIMAL}
      </if>
      <if test="phone != null">
        and PHONE=#{phone,jdbcType=VARCHAR}
      </if>
      <if test="email != null">
        and EMAIL=#{email,jdbcType=VARCHAR}
      </if>
      <if test="createUser != null">
        and CREATE_USER=#{createUser,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        and CREATE_TIME=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateUser != null">
        and UPDATE_USER=#{updateUser,jdbcType=VARCHAR}
      </if>
      <if test="updateTime != null">
        and UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="isDelete != null">
        and IS_DELETE=#{isDelete,jdbcType=DECIMAL}
      </if>
      <if test="comments != null">
        and COMMENTS=#{comments,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2021-02-23-->
  <select id="findByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from SYS_USER
        <where>
            <if test="id != null">
                and ID=#{id,jdbcType=VARCHAR}
            </if>
            <if test="code != null">
                and CODE=#{code,jdbcType=VARCHAR}
            </if>
            <if test="name != null">
                and "NAME"=#{name,jdbcType=VARCHAR}
            </if>
            <if test="loginName != null">
                and LOGIN_NAME=#{loginName,jdbcType=VARCHAR}
            </if>
            <if test="loginPassword != null">
                and LOGIN_PASSWORD=#{loginPassword,jdbcType=VARCHAR}
            </if>
            <if test="type != null">
                and "TYPE"=#{type,jdbcType=DECIMAL}
            </if>
            <if test="phone != null">
                and PHONE=#{phone,jdbcType=VARCHAR}
            </if>
            <if test="email != null">
                and EMAIL=#{email,jdbcType=VARCHAR}
            </if>
            <if test="createUser != null">
                and CREATE_USER=#{createUser,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and CREATE_TIME=#{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateUser != null">
                and UPDATE_USER=#{updateUser,jdbcType=VARCHAR}
            </if>
            <if test="updateTime != null">
                and UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="isDelete != null">
                and IS_DELETE=#{isDelete,jdbcType=DECIMAL}
            </if>
            <if test="comments != null">
                and COMMENTS=#{comments,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>